
body {
  margin: 5px 5px 5px 5px;
}

a{
  text-decoration:none;
}

.topo{
  background: red;
  color: white;
  height: 100px;
}

.menu{
  background: green;
  color: white;
}

.menu-item{
  margin-left: 20px;
  display: inline-block;
}

.sub-item{
  position:absolute;
}

.item-sub-item{
  list-style: none;
  margin-top: -20px;
  margin-left: -50px;
  background-color: green;
  display:block;
  padding:15px;
}

.banner{
  background: yellow;
  color: white;
  height: 200px;
}

.conteudo{
  background: blue;
  color: white;
  height: 100%;
  text-align: center;
}

footer{
  margin: 5px right;
  text-align: right;
}

.inicio{
  background: black;
  color: white;
  height: 30px;
  width: 50px;
}

.flexslider{
  text-align: center;
}

.imagem-anuncio{
  width: 400px;
  height: 200px;
}

.contato{
  padding: 1px 0px;
}

.galeria{
  display: inline-block;
}

.imagem-galeria{
  width: 60px;
  height: 60px;
}
